.box {  
    width: 200px;
    height: 200px;
    float: right;
    display: flex;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 1px;
    animation: desapier 5s linear infinite;
    animation-play-state: paused;
  }

  .box:hover{
    animation-play-state: running;
  }

  @keyframes desapier{
    from{
        transform:translateY(0px);
        transform: rotate(0deg); 
    }
    25%{
        transform:translateY(100px);
        transform: rotate(-2deg); 
    }
    50%{
        transform:translateY(20px);
        transform:rotate(2deg);
    }
    75%{
        transform:translateY(100px);
        transform:rotate(-2deg);
    }
    to{
        transform:translateY(0px);
        transform: rotate(0deg); 
    }
  }

  .paragrafinho{
    display:flex;
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 5px;
    border-left: 10px solid red;
    position: inherit;
        
}.paragrafinho:hover{
    border-left: 10px solid blue;
    
  }

h1{
    text-align: center;
    
}